:root {
  --bg: #0b0b0f;
  --card: #15151c;
  --text: #eaeaf0;
  --accent: #7c5cff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  background: var(--bg);
  color: var(--text);
  line-height: 1.6;
  justify-items: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding-top: 80px;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  cursor: pointer;
  transition: 0.3s ease;
  background: var(--bg);
  z-index: 1000;
}
.header:hover {
   background: #000;
}

.logo-img {
  border-radius: 50%;
  cursor: pointer;
}

.logo-img:hover{
  opacity: 0.9;
}

.nav a {
  margin: 0 1rem;
  opacity: 0.8;
}

.nav a:hover {
  color: var(--accent);
}

.btn {
  background: var(--accent);
  border: 1px solid var(--accent);
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background: var(--bg);
  color: var(--accent)
}

.btn-ghost {
  background: transparent;
  border: 1px solid var(--accent);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn-ghost:hover {
  background:transparent ;
  color: white;
}

.hero {
  padding: 4rem 2rem;
  text-align: center;
}

.hero span {
  color: var(--accent);
}

.section {
  padding: 3rem 2rem;
  text-align: center;
}

fieldset {
  border: 1px solid #333;
  padding: 1rem;
  margin-bottom: 2rem;
}

.music-grid,
.sessions-grid {
  display: grid;
  gap: 1.5rem;
  justify-items: center;
}

.track {
  background: var(--card);
  padding: 1rem;
  border-radius: 8px;
  max-width: 420px;
  width: 100%;
}

.player-controls {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.player-controls button {
  background: #15151c;
  border: 1px solid #7c5cff;
  color: #fff;
  padding: 0.6rem 1rem;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.player-controls button:hover {
  background: #7c5cff;
}

.review {
  display: inline-flex;
  align-items: center;
  justify-items: center;
}


.site-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem
}


.footer {
  padding: 2rem;
  text-align: center;
  background: #000;
}

.socials {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;

  }

  .whatsapp-paragraph {
    margin-top: 500px;
    border: 1px solid var(--accent);
    border-radius: 50px;
    padding: 0.1rem 1rem;

  }


@media (min-width:768px) {
  .music-grid,
  .sessions-grid {
    grid-template-columns: repeat(3, 1fr) ;
  }
}